#popin {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;

	background-color: black;
	z-index: 50;
	text-align: center;

  #content_popin {
    z-index: 60;
  	display: inline-block;
  	padding: 0;
  	position: relative;
		height: 90vh;

    FIGCAPTION, A {
			color: #CCC; text-align: left;

			H3 { padding: 0; margin: 1px 0; }
		}
		#close { color: #bbb; text-align: right;  cursor: pointer; cursor: hand; z-index: 1000;  }
		#bigphoto {
			max-width: 100%;
			max-height: 95%;
			object-fit: contain;

			margin: 2px auto;
			cursor: pointer;
			cursor: hand;
		}

		.info_supp { display: inline-block; }
		A { text-decoration: none; font-weight: bold;}
  }

}

.description_galery
{
	font-style: italic;
	color: #555;
}

.galery {
	FIGURE {
		width: 250px;
		float: left;
		padding: 5px 5px 5px 5px;
		background-color: white;
		cursor: pointer; cursor: hand;
		margin: 15px ;

		DIV { display: none; }
	}
	FIGCAPTION { display: none; }
}

@media screen and (max-width: 750px) {
	.galery FIGURE { padding: 1px; margin: 0px; width: 49%; }
	.galery IMG { width: 100%; height: auto; }
}
