---
  title: presse.title
---

<div id="description" class="presse">

  <%= breadcrumb(t("presse.title")) %>

  <h1><%= t("presse.title") %></h1>

    <h2>Transliving Magazine<h2>
    <a href="https://www.transliving.co.uk/" target="_blank">
      <img src="../images/presse/transliving_cover.jpeg" title="Transliving" />
    </a>
    <a href="https://www.transliving.co.uk/" target="_blank">
      <img src="../images/presse/transliving_1.jpg" title="Transliving" />
    </a>

    <h2>Les curiosités érotiques et BDSM de Florence</h2>
    <a href="https://www.edilivre.com/catalog/product/view/id/853057/s/les-curiosites-erotiques-et-bdsm-de-florence-artsflorence-florence-jacquet/?fbclid=IwAR0n2q7Pvi9a1qvGV0Uabg6OkRgKyoWsRVBNj6dqO3Xv4biQfAPYIkvdOvE" target="_blank">
      <img src="../images/presse/curiosites_erotiques.jpg" title="Les curiosites erotiques" />
    </a>
</div>
