<div id="description" class="presse">
  <div id="breadcrumb">
    <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <%= t("products.title") %>
  </div>

  <h1><%= t("products.title") %></h1>

  <a href="galery_queen.html">Lien vers la galerie QUEEN</a> <br/>
  <a href="galery_t_bien_roule.html">Lien vers la galerie T BIEN ROULE</a> <br/>
  <a href="galery_jeans.html">Lien vers la galerie JEANS</a> <br/>
  <a href="galery_other.html">Lien vers la galerie OTHER</a> <br/>
</div>
